name: Build and Release (Windows)

on:
  push:
    branches: ["master"]
    tags:
      - "v*"
  pull_request:
    tags:
      - "v*"
    branches: ["master"]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Clone vcpkg
      run: |
        git clone https://github.com/microsoft/vcpkg.git
        .\vcpkg\bootstrap-vcpkg.bat

    - name: Configure
      run: >
        cmake -S . -B build
        -DCMAKE_BUILD_TYPE=Release
        -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}\vcpkg\scripts\buildsystems\vcpkg.cmake
        -DVCPKG_TARGET_TRIPLET=x64-windows

    - name: Build
      run: cmake --build build --config Release

    - name: Upload to GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          build/Release/reducord.exe